name: terraform-plan-reusable

on:
  workflow_call:
    inputs:
      workdir:
        required: true
        type: string
    secrets:
      AWS_ROLE_ARN:
        required: true
      AWS_REGION:
        required: true

jobs:
  plan:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      WORKDIR: ${{ inputs.workdir }}

    steps:
      - name: Checkout infra repo
        uses: actions/checkout@v4
        with:
          # The caller repo is the infra repo
          repository: ${{ github.repository }}
          path: infra

      # - name: Debug GitHub OIDC payload
      #   uses: actions/github-script@v7
      #   with:
      #     script: |
      #       const core = require('@actions/core');
      #       const token = await core.getIDToken();
      #       const payload = token.split('.')[1];
      #       const padded = payload + '='.repeat((4 - payload.length % 4) % 4);
      #       const decoded = Buffer.from(padded, 'base64').toString('utf8');
      #       console.log("OIDC PAYLOAD:", decoded);

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Terraform Init
        working-directory: infra/${{ env.WORKDIR }}
        run: terraform init -input=false

      - name: Terraform Validate
        working-directory: infra/${{ env.WORKDIR }}
        run: terraform validate

      - name: Terraform Plan
        working-directory: infra/${{ env.WORKDIR }}
        run: terraform plan -no-color -input=false
